body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-purple{
  background-color: #242038;
}

.slate-blue{
  background-color: #725AC1;
}

.zomp{
  background-color: #2CA58D;
}

.flame{
  background-color: #E4572E;
}

.relative{
  position: relative;
}